*{
    padding: 0;
    margin: 0;
   

}
/* ----------------------------------------------Navigation Bar---------------------------------------------- */
.nav{
    display: flex;
    background:#97c1cd;
    height: 80px;

}
.logo{
    margin: 10px 34px;
    height: 10px;
    
   
}
.logo img{
    height: 50px;
    margin: 3px 5px;
    border-radius: 50%;

    
}
.navbar ul{
    display: flex;
    flex-direction: row;
    margin-left: 56em;
    margin-top: 17px;
    

}
.navbar li{
    display: inline-block;
    list-style: none;
    margin: 1rem;
    
}
.navbar li a{
   font-size: 18px;
   text-transform: uppercase;
   padding: 0,30px;
   color:black;
   text-decoration: none;
   justify-content: space-between;
   
}
.navbar li a:hover{
    transform:scale(2);
    color: yellow;
}
/* --------------------------------------------Home------------------------------------------------------------ */
.home img{
    width: 95em;
    height: 39em;
    position: relative;
    z-index: -1;
    opacity: .7;
    animation: slider 9s infinite linear;
}


.home p{
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 30em;
    font-weight: bold;
    margin-top: -15em;
    margin-left: 5em;
}
.home button{
    margin-right:69rem ;
    font-size:1.5em ;
    border-radius: 15em;
    width: 7em;
    background-color: black;
    color: whitesmoke;
    margin-left: 10em;
    
}
button:hover{
    cursor: pointer;
    transform: scale(1);
    color:red;
}
/* -------------------------------Some Brands----------------------------------------------------------------- */
.container h1{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 300px;
    
}

#brands{
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
}

#brands .box{
    padding: 95px;
    background:#97c1cd;
    width: 189px;
    margin-top:2em;
    
    
}
#brands .box img{
    height: 140px;
    margin:auto;
    display: block;
    margin-bottom: 30px;
}
.container button{
    border-radius: 3px;
    margin-left: 30em;
    font-size: 1.5em;
    background-color: black;
    color: white;
    margin-top: -9px;
}
/* -----------------Footer-------------------------------- */
.footer{
    height: 19em;
    background: url(images/footerbg.jpg);
    width: auto;
    margin-top: 3em;
}
.about img{
    height: 5em;
}
.about p{
    font-size: 1.6em;
    font-family: 'Open Sans', sans-serif;
    width:10em;
    margin-top: 2em;
    color: white;
}
.links{
    margin-left: 22em;
    margin-top: -8em;
    color: white;
    

    
}
.links li a{
    text-decoration: none;
    font: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}
.office {
    margin-left:28em ;
    margin-top: -14em;
    color: white;
    font-size:1.3em ;
    font-family: 'Open Sans', sans-serif;
    ;
  
}
.office a{
    text-decoration: none;
    color: black;
    

}
.map{
    margin-left: 54em;
    margin-top: -17em;
}
.media{
    font-size: 2em;
    margin-left: 40em;
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}
#facebook{
    color:  #1877f2;
}
#instagram{
    color: #f46f30;
}
#twitter{
    color:#1da1f2;
}
#youtube{
    color:#ff0000;
}
#linkedin{
    color: #0a66c2;
}
.msg{
    margin-left: 80em;
    margin-top: -15em;
    font-family: 'Open Sans', sans-serif;

}
.msg h3{
    margin-left: 3em;
    color:#f46f30;
}